body {
  text-align: center;
  background-color: #333;
  color:whitesmoke;
  font-family: 'Courier New', monospace;
}


/* ------------------------------ HEADER ------------------------------ */
/* --------------- Back To Github --------------- */
header a {
  position: absolute;
  left:9px;
  top:9px;
  border: 1px solid black;
  border-radius: 20px;
  color:whitesmoke;
  font-size: 1em;
  padding: 5px;
}

header a:hover {
  position: absolute;
  text-decoration: none;
  animation: back 1s;
  color:whitesmoke;
  box-shadow: 3px 3px red, 5px 5px orange, 9px 9px green;
  left:2px;
  top:2px;
}

@keyframes back {
  0% {box-shadow: 0px 0px red, 0px 0px orange, 0px 0px green; left:9px; top:9px;}
  100% {box-shadow: 3px 3px red, 5px 5px orange, 9px 9px green; left:2px; top:2px;}
}

/* --------------- Headline --------------- */
header h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  animation: textShadow 4s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width:880px) {
  header h2 {
    margin-top: 50px;
  }
}

@keyframes textShadow {
   0% {text-shadow:3px 3px red, 5px 5px orange, 7px 7px green;}

   4% {text-shadow:3px 3px red, 5px 5px orange, 7px 5px green;}
   8% {text-shadow:3px 3px red, 5px 3px orange, 7px 3px green;}
  17% {text-shadow:3px -3px red, 5px -3px orange, 7px -3px green;}
  21% {text-shadow:3px -3px red, 5px -5px orange, 7px -5px green;}

  25% {text-shadow:3px -3px red, 5px -5px orange, 7px -7px green;}

  29% {text-shadow:3px -3px red, 5px -5px orange, 5px -7px green;}
  33% {text-shadow:3px -3px red, 3px -5px orange, 3px -7px green;}
  42% {text-shadow:-3px -3px red, -3px -5px orange, -3px -7px green;}
  46% {text-shadow:-3px -3px red, -5px -5px orange, -5px -7px green;}

  50% {text-shadow:-3px -3px red, -5px -5px orange, -7px -7px green;}

  54% {text-shadow:-3px -3px red, -5px -5px orange, -7px -5px green;}
  58% {text-shadow:-3px -3px red, -5px -3px orange, -7px -3px green;}
  67% {text-shadow:-3px 3px red, -5px 3px orange, -7px 3px green;}
  71% {text-shadow:-3px 3px red, -5px 5px orange, -7px 5px green;}

  75% {text-shadow:-3px 3px red, -5px 5px orange, -7px 7px green;}

  79% {text-shadow:-3px 3px red, -5px 5px orange, -5px 7px green;}
  83% {text-shadow:-3px 3px red, -3px 5px orange, -3px 7px green;}
  92% {text-shadow:3px 3px red, 3px 5px orange, 3px 7px green;}
  96% {text-shadow:3px 3px red, 5px 5px orange, 5px 7px green;}

  100% {text-shadow:3px 3px red, 5px 5px orange, 7px 7px green;}
}

/* --------------- OUTPUT --------------- */
#output div {
  margin:30px;
  margin-left:auto;
  margin-right:auto;
  width: 90vw;
  word-wrap: break-word;
}

/* --------------- OUTPUT SPANS --------------- */
.wont {
  color:orange
}
.boop {
  color:red;
}
.beep {
  color: green;
}
.numRed {
  color:orangered;
}

/* --------------- FOOTER --------------- */
footer p {
  margin:0;
  font-size: 13px;
}